/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/4.0/
 *
 * © 2016 Matthias Biggeleben <biggeleben@gmail.com>
 */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    color: #333;
    font: normal 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-feature-settings: "liga" 0, "kern";
    overflow: hidden;
}

* { box-sizing: border-box; }

a { color: #337ab7; text-decoration: none; }
a:hover { text-decoration: underline; }

.abs {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.atb {
    position: absolute;
    top: 0; bottom: 0;
}

/* Login */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form {
    font-size: 16px;
    line-height: 24px;
}

.login input {
    color: white;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    border: 1px solid rgba(0,0,0,0.10);
    background-color: rgba(0, 0, 0, 0.20);
    padding: 15px;
    margin: 0 0 8px 0;
    width: 400px;
    outline: 0;
    display: block;
}

.login input::-webkit-input-placeholder {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.50);
}

.login input[disabled] {
    color: rgba(255, 255, 255, 0.30);
}

.login button {
    color: white;
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: rgba(0, 0, 0, 0.40);
    padding: 16px;
    margin-top: 16px;
    width: 200px;
    outline: 0;
}

.login input:focus, .login button:focus {
    border: 1px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0 0 10px -3px white;
}

.login input[disabled], .login button[disabled] {
    color: rgba(255, 255, 255, 0.30);
}


.login-feedback {
    color: rgba(255, 255, 255, 0.90);;
    font-weight: bold;
    background-color: #f7830b;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 16px;
    margin: 0 0 8px 0;
}

/* Main views */

.screen {
    display: flex;
    flex-direction: row;
    top: 56px;
    right: 16px;
    bottom: 16px;
}

#alert {
    position: absolute;
    top: 24px;
    min-height: 48px;
    padding: 16px;
    background-color: #FFEDDB;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    box-shadow: 0 5px 50px 5px rgba(0, 0, 0, 0.30);
}

/* Context menu */

#contextmenu {
    position: absolute;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.30);
    background-clip: padding-box;
    margin: 0;
    padding: 8px 0;
    min-width: 160px;
    border-radius: 4px;
}

#contextmenu a {
    color: #333;
    line-height: 24px;
    padding: 0 16px;
    outline: 0;
    text-decoration: none;
    display: block;
}

#contextmenu a:hover {
    color: white;
    background-color: #337ab7;
}

#contextmenu .divider {
    line-height: 1px;
    height: 1px;
    background-color: #ddd;
    margin: 7px 0;
}

#contextmenu .key {
    float: right;
    display: inline-block;
    margin-left: 32px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.40);
}

#contextmenu a.disabled { color: rgba(0, 0, 0, 0.40); }
#contextmenu a.disabled:hover { background-color: transparent; }

/* Folder view */

.folder-view {
    flex: 0;
    flex-basis: 280px;
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    overflow-y: auto;
    color: rgba(255, 255, 255, 0.70);
}

.folder-view .folder {
    line-height: 24px;
    outline: 0;
    cursor: pointer;
}

.folder-view .subfolders {
    list-style-type: none;
    padding: 0;
    display: none;
}

.folder-view .folder.open > .subfolders {
    display: block;
}

.folder-view .folder.mailboxes {
    margin-top: 16px;
}

.folder-view .folder.mailboxes > .folder-title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.30);
}

.folder-view .folder-title:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.folder-view .folder.selected > .folder-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.30);
}

.folder-view.has-focus .folder.selected > .folder-title {
    background-color: rgba(0, 0, 0, 0.50);
}

.folder-view .folder .count {
    color: rgba(255, 255, 255, 0.50);
    display: inline-block;
    margin-left: 8px;
}

/* Caret & Icons */

.folder-view .fa.caret, .folder-view .fa.no-caret {
    width: 16px;
    font-size: 14px;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.30);
}

.folder > .folder-title > .fa.caret:before { content: '\f0da'; }
.folder.open > .folder-title > .fa.caret:before { content: '\f0d7'; }

.folder-view .fa.icon {
    width: 16px;
    font-size: 14px;
    text-align: center;
    margin-right: 16px;
    color: rgba(255, 255, 255, 0.30);
}

.folder.default > .folder-title > .fa.icon { display: none; }

.folder.inbox   .fa.icon:before { content: '\f01c'; }
.folder.drafts  .fa.icon:before { content: '\f016'; }
.folder.sent    .fa.icon:before { content: '\f1d9'; }
.folder.spam    .fa.icon:before { content: '\f05e'; }
.folder.trash   .fa.icon:before { content: '\f014'; }
.folder.archive .fa.icon:before { content: '\f187'; }

/* List view */

.list-view-container {
    flex: 0;
    flex-basis: 280px;
    position: relative;
    margin: 0 16px 0 0;
    background-color: rgba(0, 0, 0, 0.15);
}

.list-view {
    list-style-type: none;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    bottom: 40px;
}

.list-view li {
    padding: 11px 16px 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    cursor: pointer;
    outline: 0;
    background-color: white;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-select: none;
}

.list-view li.error {
    background-color: rgba(0, 0, 0, 0.20);
    color: rgba(255, 255, 255, 0.80);
}

.list-view li.selected {
    color: white;
    background-color: rgba(0, 0, 0, 0.10);
}

.list-view.has-focus li.selected {
    background-color: rgba(0, 0, 0, 0.30);
}

.list-view li.hint {
    color: rgba(255, 255, 255, 0.80);
    background-color: rgba(0, 0, 0, 0.20);
    padding: 12px 16px;
}

.list-view .gray {
    color: rgba(0, 0, 0, 0.80);
}

.list-view li.selected .gray {
    color: rgba(255, 255, 255, 0.80);
}

.list-view .row {
    clear: both;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-view .who {
    font-weight: 500;
}

.list-view .date {
    font-weight: 300;
    float: right;
    display: inline-block;
    margin-left: 8px;
}

.list-view .subject {
    font-weight: 300;
}

.list-view .has-attachment {
    float: right;
    display: inline-block;
}

.list-view .has-attachment:before {
    font-size: 14px;
    margin: 0 0 0 8px;
}

/* List view toolbar */

.list-view-toolbar {
    top: auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.70);
    background-color: rgba(0, 0, 0, 0.10);
}

.list-view-toolbar a {
    color: rgba(255, 255, 255, 0.70);
    display: inline-block;
}

.list-view-toolbar a:hover, .list-view-toolbar a:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.20);
}

.list-view-toolbar a .fa {
    width: 40px;
    text-align: center;
}

.list-view-toolbar .info {
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    margin: 0 8px;
}

/* Flags */

.list-view li.deleted, .list-view li.deleted .gray {
    color: rgba(0, 0, 0, 0.20);
    text-decoration: line-through;
}

.list-view li.deleted.selected, .list-view li.deleted.selected .gray {
    color: rgba(255, 255, 255, 0.30);
}

.list-view li.unseen .who, .list-view li.unseen .date {
    font-weight: bold;
}

.list-view li.unseen .subject {
    padding-left: 16px;
}

.list-view li.unseen:before {
    content: "\25CF";
    position: absolute;
    top: 26px;
    left: 15px;
    font-size: 20px;
    line-height: 1em;
    color: #08c;
}

.list-view li.unseen.selected:before {
    color: rgba(255, 255, 255, 0.50);
}

/* Detail view */

.detail-view {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.15);
    overflow: auto;
    position: relative;
}

.fade > * {
    opacity: 0;
    transition: opacity 0.3s linear;
}

.detail-view iframe {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
    width: 100%;
    /* display: block to avoid unwanted space below iframe */;
    display: block;
}

.detail-view header {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.20);
    padding: 0 16px 21px 16px;
    min-height: 112px;
}

.detail-view .subject {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 21px 0 15px 0;
    margin: 0;
}

.detail-view .received-date {
    float: right;
    color: rgba(255, 255, 255, 0.50);
    /* add margin for some room between date and recipients below */
    margin-bottom: 1em;
}

.detail-view dl {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
    padding-left: 64px;
    position: relative;
    margin: 0;
}

.detail-view dt {
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
    position: absolute;
    left: 0;
    width: 48px;
    text-align: right;
}

.detail-view dd {
    margin: 0;
}

.detail-view dl.attachments {
    margin-top: 16px;
}

.detail-view dl.attachments .fa-paperclip {
    font-size: 14px;
}

.detail-view dl.attachments a {
    color: inherit;
}

.detail-view .blocked-images {
    color: rgba(255, 255, 255, 0.70);
    background-color: rgba(0, 0, 0, 0.30);
    font-size: 12px;
    padding: 8px 16px;
}

.detail-view .blocked-images button {
    color: white;
    background-color: rgba(0, 0, 0, 0.20);
    border: 0;
    padding: 4px 16px;
    line-height: 16px;
    margin-right: 16px;
    font-size: 12px;
    cursor: pointer;
}

.detail-view .spam {
    background-color: #FFF7B8;
    padding: 10px 16px 12px 16px;
    margin: 1px 0;
}

/* Inline actions */
.inline-actions {
    text-align: right;
    padding-top: 16px;
}

.inline-actions ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inline-actions ul li {
    display: inline-block;
    margin: 0 0 0 16px;
}

.inline-actions ul li a { color: rgba(255, 255, 255, 0.50); outline: 0; }
.inline-actions ul li a:hover, .inline-actions ul li a:focus { color: white; }

/* Preview */

#preview {
    background-color: rgba(0, 0, 0, 0.90);
}

#preview .viewport {
    position: absolute;
    top: 40px;
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#preview .caption {
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.70);
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
    z-index: 1;
}

#preview .fa-close {
    position: absolute;
    top: 0;
    right: 16px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
    line-height: 40px;
    z-index: 2;
    cursor: pointer;
}

/* Top bar */

.topbar {
    height: 40px;
    line-height: 40px;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.40);
    padding: 0 16px;
}

.topbar h1 {
    font-size: 20px;
    line-height: 36px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.80);
    margin: 0;
    padding-top: 3px;
    letter-spacing: 1px;
}

.search {
    position: absolute;
    top: 0;
    left: 280px;
    height: 40px;
    width: 280px;
}

.search-field {
    color: #fff;
    border: 0;
    background-color: rgba(0, 0, 0, 0.20);
    font-size: 13px;
    height: 40px;
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
    width: 100%;
    outline: 0;
}

.search-field:focus {
    background-color: rgba(0, 0, 0, 0.30);
}

.search-field::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.70);
}

.topbar .right {
    position: absolute;
    top: 0;
    right: 16px;
    height: 40px;
}

.topbar button {
    color: rgba(255, 255, 255, 0.70);
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 13px;
    height: 40px;
    padding: 0 16px;
    vertical-align: top;
}

.topbar button:hover, .topbar button:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.20);
}

/* CSS Throbber */

.busy:before {

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    font-size: 32px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.40);
    /* CLOCKWISE OPEN CIRCLE ARROW */
    content: '\21bb';
    font-family: "Arial Unicode MS", "Helvetica Neue", Helvetica, sans-serif;

    width: 32px;
    text-align: center;
    height: 33px; /* yep, 33 to have a fixed center */

    animation: throbber 1s infinite linear;
}

@keyframes throbber {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

/* Themes */

html.theme_0 {
    /* red */
    background-image: linear-gradient(230deg, #5F0F02, #DA2626, #1D040C)
}

html.theme_1 {
    /* orange */
    background-image: linear-gradient(230deg, #8A1111, #F7830B, #420000);
}

html.theme_2 {
    /* green */
    background-image: linear-gradient(230deg, #065442, #8DC148, #032507);
}

html.theme_3 {
    /* cyan */
    background-image: linear-gradient(230deg, #68CC87, #399DBB, #152138);
}

html.theme_4 {
    /* blue */
    background-image: linear-gradient(230deg, #68BECC, #397FBB, #081E3E);
}

html.theme_5 {
    /* purple */
    background-image: linear-gradient(230deg, #65125E, #C54FC7, #361348);
}

html.theme_6 {
    /* pink */
    background-image: linear-gradient(230deg, #8A0B46, #D624A7, #1F0819);
}

html.theme_7 {
    /* dark */
    background-image: linear-gradient(230deg, #231A2F, #4F5061, #1C1925);
}

html.theme_7 .topbar h1 { color: #f7830b; }

/* Font Awesome (to get the paperclip icon) */

@font-face {
    font-family: 'FontAwesome';
    /* custom font doesn't work :-| so let's load the large one */
    src: url('fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-paperclip:before { content: '\f0c6'; }
.fa-plus:before { content: '\f196'; }
.fa-close:before { content: '\f00d'; }
.fa-chevron-left:before { content: '\f053'; }
.fa-chevron-right:before { content: '\f054'; }
